
<body>
	<div id="package">

	  <p id="notice"><%= notice %></p>
	
	    <div id="individual">
			<div class="single" style="width:350px; height:350px;">
  				<%= link_to image_tag @service.image_url, :size => '350x350' %>
			</div>

			  <div id="name">
				<p><b>Name:</b>
  						<%= @service.name %>
				</p>
			  </div>

			  <div id="description">
				<p>
  					<b>Description:</b>
  						<%= @service.description %>
				</p>
			  </div>
			  <div id="outcome">
				<p>
  					<b>Outcome:</b>
  						<%= @service.outcome %>
				</p>
			  </div>

			  <div id="solutionAssociate">
				<p>
  					<b>Solution Associate: </b>
  						<%= @service.solution_associate %>
				</p>
			  </div>

			  <div id="price">
				<p>
  					<b>Price: $</b>
  						<%= @service.price %>
				</p>
			  </div>
			
	
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<div id ="cart">
		  <a href="<%= cart_path %>" class="button blue middle">Add to Cart<a/>
		</div>
		<br/>
		<br/>
		<div id ="back">
		  <a href="<%= businesssolutions_path %>" class="button blue middle">Back<a/>
		</div>
		<br/>
		<br/>
		<br/>
		</div>
	</div>
	 
</body>