<DOCTYPE! html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--add more meta tags seo -->


    <link rel= "stylesheet" type="text/css" href= "businesssolutions.css.scss"/>
    <title>Kpipe</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35277235-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>  

    <div id="header">
        <div id="logo">
            <%= image_tag("kpipelogo.jpg", :alt =>"logo") %>
        </div>
                <!--center nav bar-->

        <div id="navbar">
            <nav>
                <ul>
                    <li><a href="<%= store_index_path %>" class="button blue left">Welcome<a/></li>
                    <li><a href="<%= businesssolutions_path %>" class="button blue middle">Business to Business<a/></li>
                    <li><a href="#" class="button blue middle">Consumer<a/></li>
                    <li><a href="#" class="button blue middle">Search<a/></li>
                    <li><a href="#" class="button blue right">Shop<a/></li>
                </ul>
            </nav>


        </div>
        <div id="textlogo">
            <%= image_tag("kpipetextlogo.jpg", :alt =>"textlogo") %>
        </div>

        <!--checkout 

        <div id="checkbar">
            <nav>
                <ul>
                    <li><a href="#">Cart<a/></li>
                    <li><a href="#">Checkout<a/></li>
                    <li><a href="#">Track Order<a/></li>
                    <li><a href="#">My Account<a/></li>
                </ul>
            </nav>


        </div>-->
    </div>
<div id="allservices">
<h1>Service Listings</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <!--<th>Outcome</th>-->
    <th>Solution Associate</th>
    <th>Price</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service.each do |service| %>
  <tr id="listing">
    <td id="serviceimage"><%= image_tag service.image_url %></td>
    <td id="servicename"><%= service.name %></td>
    <td id="servicedescription"><%= service.description %></td>
    <!--<td><%= service.outcome %></td>-->
    <td id="serviceassociate"><%= service.solution_associate %></td>
    <td id="serviceprice"><%= service.price %></td>
    <td><%= link_to 'More Info', service%></td>
    <!--<td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>

</table>

</br>
<%= link_to 'Back', store_index_path %>
</div>

</body>
</html>