<h1>Listing services</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <!--<th>Image url</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service.each do |service| %>
  <tr>
    <td><%= image_tag service.image_url %></td>
    <td><%= service.name %></td>
    <td><%= service.description %></td>
    <td><%= service.price %></td>
    <!--<td><%= service.image_url %></td>-->
    <td><%= link_to 'More', service%></td>
    <!--<td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>
</br>
<%= link_to 'Back', store_index_path %>
