
<body>

	<p id="notice"><%= notice %></p>
	
	<div id="individual">
			<div class="single" style="width:150px; height:150px;">
  				<%= link_to image_tag @service.image_url, :size => '150x150' %>
			</div>

			<div id="name">
				<p><b>Name:</b>
  						<%= @service.name %>
				</p>
			</div>
			<div id="price">
				<p>
  					<b>Price: $</b>
  						<%= @service.price %>
				</p>
			</div>
	</div>
	    	<script
  				src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
  				data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
  				data-amount="2000"
  				data-name="Demo Site"
  				data-description="2 widgets ($20.00)"
  				data-image="/128x128.png">
  			</script>

 		<%= link_to 'Back', businesssolutions_path %>
</body>
</html>