<DOCTYPE! html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--add more meta tags seo -->

<link rel= "stylesheet" type="text/css" href= "individual_service.css.scss"/>

</head>
<div id="header">
		<div id="logo">
			<%= image_tag("kpipelogo.jpg", :alt =>"logo") %>
		</div>
		<div id="navbar">
			<nav>
				<ul>
					<li><a href="<%= store_index_path %>" class="button blue left">Welcome<a/></li>
					<li><a href="<%= businesssolutions_path %>" class="button blue middle">Business to Business<a/></li>
					<li><a href="#" class="button blue middle">Consumer<a/></li>
					<li><a href="mailto:info@kpipe.com" class="button blue right">Contact<a/></li>
					<!--<li><a href="#" class="button blue right">Shop<a/></li>-->
				</ul>

			</nav>


		</div>
		<div id="textlogo">
			<%= image_tag("kpipetextlogo.jpg", :alt =>"textlogo") %>
		</div>		
			<!--<div id="checkbar">
			<nav>
				<ul>
					<li><a href="#">Cart<a/></li>
					<li><a href="#">Checkout<a/></li>
					<li><a href="#">Track Order<a/></li>
					<li><a href="#">My Account<a/></li>
				</ul>
			</nav>


		</div>-->
</div>
<body>

	<p id="notice"><%= notice %></p>
	
	<div id="individual">
			<div class="single" style="width:150px; height:150px;">
  				<%= link_to image_tag @service.image_url, :size => '150x150' %>
			</div>

			<div id="name">
				<p><b>Name:</b>
  						<%= @service.name %>
				</p>
			</div>
			<div id="price">
				<p>
  					<b>Price: $</b>
  						<%= @service.price %>
				</p>
			</div>
	</div>
	    	<script
  				src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
  				data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
  				data-amount="2000"
  				data-name="Demo Site"
  				data-description="2 widgets ($20.00)"
  				data-image="/128x128.png">
  			</script>

 		<%= link_to 'Back', businesssolutions_path %>
</body>
</html>