<DOCTYPE! html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--add more meta tags seo -->


	<link rel= "stylesheet" type="text/css" href= "store.css.scss"/>
	<title>Kpipe</title>
</head>

<body>	

	<div id="header">
		<div id="logo">
			<%= image_tag("kpipelogo.jpg", :alt =>"logo") %>
		</div>
				<!--center nav bar-->

		<div id="navbar">
			<nav>
				<ul>
					<li><a href="<%= store_index_path %>" class="button blue left">Welcome<a/></li>
					<li><a href="<%= businesssolutions_path %>" class="button blue middle">Business to Business<a/></li>
					<li><a href="#" class="button blue middle">Consumer<a/></li>
					<li><a href="#" class="button blue middle">Search<a/></li>
					<li><a href="#" class="button blue right">Shop<a/></li>
				</ul>
			</nav>


		</div>

		<!--checkout 

		<div id="checkbar">
			<nav>
				<ul>
					<li><a href="#">Cart<a/></li>
					<li><a href="#">Checkout<a/></li>
					<li><a href="#">Track Order<a/></li>
					<li><a href="#">My Account<a/></li>
				</ul>
			</nav>


		</div> -->
    </div>
	<div id="wrapper">
		<!--<% @services.each do |service| %>-->

			<div id="leftColumn">
				<ul>
					<li><%= image_tag("brainstorming.png", :class => "align-left") %></li>
					<li><%= image_tag("businessplan.png", :class => "align-left") %></li>
					<li><%= image_tag("socialmedia.png", :class => "align-left") %></li>
					<li><%= image_tag("emergency.png", :class => "align-left") %></li>
				</ul>
				<!--<ul>
					<% for service in @services %>
						<li><%= image_tag(service.image_url) %></li>

					<% end %>
				</ul>-->
				<!--<div class="align-left">-->
				    <!--<ul>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
					</ul>-->
				
				<!--</div>-->
			</div>
		
			<div id="rightColumn">
				<ul>
					<li><%= image_tag("resume.png", :class => "align-right") %></li>
					<li><%= image_tag("mexicobusiness.png", :class => "align-right") %></li>
					<li><%= image_tag("powerpoint.png", :class => "align-right") %></li>
					<li><%= image_tag("bigdecisions.png", :class => "align-right") %></li>
				</ul>
				<!--<div class="align-right">-->
					<!--<ul>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>

					</ul>-->
				<!--</div>-->
			</div>
		

		<div id="centerColumn">
					
			<div id="service">
				<ul>
					<li><%= image_tag("research.png", :class => "align-right") %></li>
					<li><%= image_tag("wordpress.png", :class => "align-right") %></li>
					
				</ul>

				<!--<ul>
					<li><%= image_tag(service.image_url, :class => "align-right") %></li>
					<li><%= image_tag(service.image_url, :class => "align-right") %></li>
				</ul>-->

			</div>
		<% end %>
		    <!--<div id="navbar">
				<nav>
					<ul>
						<li><a href="#">Welcome<a/></li>
						<li><a href="<%= businesssolutions_path %>">Business to Business<a/></li>
						<li><a href="#">Consumer<a/></li>
						<li><a href="#">Search<a/></li>
						<li><a href="#">Shop<a/></li>
					</ul>
				</nav>
			</div>-->

			<!--<blockquote>Outsourcing has become a dirty word.  But we all need help.  As a small business you doing it all can be overwhelming.  How scary is it to rely on a stanger?  This is your business.  You need help but don't need an employee.  Can I put that off any longer?  Am I not spending enough time with customers?  These are the day to day headaches in many small businesses.

		    </br>
			</br>
		    Kpipe is knowledge available from people with strengths, passions and skills. We create service packages with defined outcomes to meet your needs by empowering people to do what they love. In your business are there things you put off or don't want to do?  Why not get the help you need from someone who is passionate and loves what they are doing?  See <a href="<%= businesssolutions_path %>"class="button blue single" >Business to Business<a/> above for a list of solutions. 
		    </br>

			</blockquote>-->
			
			<div id="featured">
			<h2>Kpipe...</h2>
				<h3>It is all about people.</h3>

				<p>Kpipe.com is designed to be a One Stop Shop for services for both businesses and consumers. A broad range of Service Packages are available with defined outcomes for a fixed price. Each is delivered by very qualified individuals who are part of the growing Kpipe.com team..
				</p>
				<p>Getting things done in business is always difficult. Especially the small focused efforts. Kpipe addresses that challenge. Our service packages lay out what you are buying and how much it will costs. Kpipe is your service solution company. We stand behind the service delivered. We are far more than a “match-making” company. We are your solution! We make certain the service package is delivered with the defined outcomes accomplished. If not, we have a money back guarantee. You won't get that on those match-making sites. 		
				</p>
				<p>We also have far more solutions. Service solutions that you can purchase today and get immediate action on. Our goal is to be a one stop shop for services. Everyday we will be getting closer to that goal. New services will continually be added. Stop back often! 
				</p>
			</div>
		</div>

	</div>
</body>

<footer>
	<p>Kpipe.com is owned and operated by Kpipe, LLC</p>

</footer>


</html>

