<DOCTYPE! html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--add more meta tags seo -->


	<link rel= "stylesheet" type="text/css" href= "store.css.scss"/>
	<title>Kpipe</title>
</head>

<body>	

	<div id="header">
		<div id="logo">
			<%= image_tag("logokpipe180.png", :alt =>"logo") %>
		</div>
				<!--center nav bar-->

		<div id="navbar">
			<nav>
				<ul>
					<li><a href="#" class="button blue left">Welcome<a/></li>
					<li><a href="<%= businesssolutions_path %>" class="button blue middle">Business to Business<a/></li>
					<li><a href="#" class="button blue middle">Consumer<a/></li>
					<li><a href="#" class="button blue middle">Search<a/></li>
					<li><a href="#" class="button blue right">Shop<a/></li>
				</ul>
			</nav>


		</div>

				<!--checkout -->

		<div id="checkbar">
			<nav>
				<ul>
					<li><a href="#">Cart<a/></li>
					<li><a href="#">Checkout<a/></li>
					<li><a href="#">Track Order<a/></li>
					<li><a href="#">My Account<a/></li>
				</ul>
			</nav>


		</div>
    </div>
	<div id="wrapper">
		<% @services.each do |service| %>

			<div id="leftColumn">
				<!--<div class="align-left">-->
				    <ul>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
						<li><%= image_tag(service.image_url, :class => "align-left") %></li>
					</ul>
				
				<!--</div>-->
			</div>
		
			<div id="rightColumn">
				<!--<div class="align-right">-->
					<ul>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>
						<li><%= image_tag(service.image_url, :class => "align-right") %></li>

					</ul>
				<!--</div>-->
			</div>
		

		<div id="centerColumn">
					
			<div id="service">
				<ul>
					<li><%= image_tag(service.image_url, :class => "align-right") %></li>
					<li><%= image_tag(service.image_url, :class => "align-right") %></li>
				</ul>

			</div>
		<% end %>
		    <!--<div id="navbar">
				<nav>
					<ul>
						<li><a href="#">Welcome<a/></li>
						<li><a href="<%= businesssolutions_path %>">Business to Business<a/></li>
						<li><a href="#">Consumer<a/></li>
						<li><a href="#">Search<a/></li>
						<li><a href="#">Shop<a/></li>
					</ul>
				</nav>
			</div>-->

			<blockquote>Outsourcing has become a dirty word.  But we all need help.  As a small business you doing it all can be overwhelming.  How scary is it to rely on a stanger?  This is your business.  You need help but don't need an employee.  Can I put that off any longer?  Am I not spending enough time with customers?  These are the day to day headaches in many small businesses.

		    </br>
			</br>
		    Kpipe is knowledge available from people with strengths, passions and skills.We create service packages with defined outcomes to meet your needs by empowering people to do what they love. In your business are there things you put off or don't want to do?  Why not get the help you need from someone who is passionate and loves what they are doing?  See Business to Business above for a list of solutions. 
		    </br>

			</blockquote>
			
			<div id="featured">
			<h2>Featured</h2>
				<h3>Small Business</h3>

				<p>Who are we?  We are an army of happily employed people, diplaced workers, have another job, stay at home moms, students, retirees, your neighbor, etc.  Whatever else we do in life we have a passion for more.  We have built experience and knowledge in many areas and want to leverage our strengths, passions, and skills to be fulfilling our love.  We are hungry for knowledge and want to share what we have learned and can do with the world.  Bottom line we are individually following our dreams.
				</p>
				<p>
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>

	</div>
</body>

<footer>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

</footer>


</html>

