<!DOCTYPE html>
<html>
<head>
  <title>Kpipe.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--add more meta tags seo -->
  
  <!--[if IE]>
    <link rel= "stylesheet" type="text/css" href= "iestore.css.scss"/>
  <![endif]-->

	<link rel= "stylesheet" type="text/css" href= "store.css.scss"/>

<script type="text/javascript">


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35277235-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<header>	

	<div id="header">
		<div id="logo">
			<%= image_tag("kpipetextlogo.jpg", :alt =>"logo") %>
		</div>
				<!--center nav bar-->

		<div id="navbar">
			<nav>
				<ul>
					<li><a href="<%= store_index_path %>" class="button blue left">Welcome<a/></li>
					<li><a href="<%= businesssolutions_path %>" class="button blue middle">Business to Business<a/></li>
					<li><a href="#" class="button blue middle">Consumer<a/></li>
					<li><a href="mailto:info@kpipe.com" class="button blue right">Contact<a/></li>
					<!--<li><a href="#" class="button blue right">Shop<a/></li>-->
				</ul>
			</nav>
		</div>
		<div id="sign_in">			
			<%= link_to '|Sign In|', user_session_path %>
			<%= link_to 'Sign Out |', destroy_user_session_path, :method => :delete %>
			<% if current_user %>
			        Welcome, <%= current_user.email %> !
			<% end %>

	    </div>


	</div>
		<!--<div id="textlogo">
			<%= image_tag("kpipetextlogo.jpg", :alt =>"textlogo") %>
		</div>

		<!--checkout 

		<div id="checkbar">
			<nav>
				<ul>
					<li><a href="#">Cart<a/></li>
					<li><a href="#">Checkout<a/></li>
					<li><a href="#">Track Order<a/></li>
					<li><a href="#">My Account<a/></li>
				</ul>
			</nav>


		</div> -->
    </div>
</header>
<body>

<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
